@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    padding-bottom: 50px;
}

/* https://chakra-ui.com/docs/styled-system/theme */

.ag-theme-alpine {
    --ag-grid-size: 10px;
    --ag-list-item-height: 40px;
    --ag-border-color: none;
}

.ag-ltr .ag-cell {
    border-right-width: 1px;
    display: flex;
}

.ag-root {
    padding: var(--chakra-space-3);
    border-width: 1px;
    border-radius: 12px;
    overflow-x: auto;
    z-index: 1;
    font-family: var(--chakra-fonts-body);
}

.ag-cell-label-container {
    color: var(--chakra-colors-gray-800);
}

.ag-theme-alpine .ag-header {
    font-weight: var(--chakra-fontWeights-bold);
    letter-spacing: var(--chakra-letterSpacings-wider);
    font-size: var(--chakra-fontSizes-sm);
    text-transform: uppercase;
    font-family: var(--chakra-fonts-heading);
    border-bottom: 1px solid var(--chakra-colors-gray-100);
}

.ag-row {
    /*height: var(--ag-row-height);*/
    /*background-color: var(--ag-background-color);*/
    color: var(--chakra-colors-gray-800);
    border-bottom: 1px solid var(--chakra-colors-gray-100);
}

/*.ag-root.ag-layout-normal {*/
/*    height: auto;*/
/*}*/

/*.ag-cell {*/
/*    text-align: start;*/
/*    padding-top: var(--chakra-space-4);*/
/*    padding-bottom: var(--chakra-space-4);*/
/*    line-height: var(--chakra-lineHeights-5);*/
/*    !*border-color: var(--chakra-colors-gray-100);*!*/
/*}*/

/*.ag-theme-alpine .ag-header-cell-label {*/
/*    font-weight: var(--chakra-fontWeights-bold);*/
/*    letter-spacing: var(--chakra-letterSpacings-wider);*/
/*    line-height: var(--chakra-lineHeights-4);*/
/*    font-size: var(--chakra-fontSizes-xs);*/
/*    color: var(--chakra-colors-gray-600);*/
/*    border-color: var(--chakra-colors-gray-100);*/
/*    text-transform: uppercase;*/
/*    font-family: var(--chakra-fonts-heading);*/
/*    padding-top: var(--chakra-space-3);*/
/*    padding-bottom: var(--chakra-space-3);*/
/*}*/